
/*Top black header*/

#blackheader {
  background-color: black;
  display: flex;
  color:white;
  justify-content: space-between;

}

#blackheader span{
  display:inline-block;
  padding:6px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-right: solid 1px #fff;

}

#blackheader .upper-header-left{
 padding-left: 10rem;
}

#blackheader span:last-child{
  border:none;
  padding-right: 8rem;
}

.upper-header-left img {
width: 40px;
}


.right-blackheader{
  display:none;
}

#blackheader .upper-header-left{
  padding-left: 1rem;
 }



/*Top White Header*/
/* & language bar and text-size */

.blue-logo {
  width:230px;
  height: auto;
}
.language-container{
  display:flex;
  justify-content: space-around;
}

#dropdown {
  padding-left: 0;
  margin-left: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

#dropdown li a {
color: black;
}

.checkbtn {
  color:black;
  cursor: pointer;
  display: none;
}

#check {
  display:none;

}

.language-container .dropdown .dropdown-toggle, .language-container .dropdown .language-dropdown {
  width:280px;
   }

.language-dropdown {
  transition:none;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .checkbtn{
    display:block;
  }

  .sm-menu {
    position:fixed;
    width:100%;
 left:-100%;
text-align:left;
transition: all .5s;
z-index: 1000;
height: 100%;
background-color: #fff;
  }

 .sm-menu li {
    display: block;
    background-color: white; 
    border-bottom: 1px solid #0046B3; 
  }

  .sm-menu li a {
    font-size: 28px;
    background-color: white; 
    padding-left: 40px;
    line-height: 2.3;
  }

  #check:checked ~ .sm-menu{
    left: 0;
  }

/* Landing Page */

 .bg-gradient {
background: linear-gradient(0deg, rgba(71,118,191,1) 0%, rgba(224,232,244,1) 52%, rgba(255,255,255,1) 72%);
height:100%
}

.bg-gradient .h1-blue {
  color:#0046B3
}

.lead-blue {
  font-size: 2rem;
  color:#0046B3;
}

p {
  font-size: 21px;
}

.bg-solid {
  background-color: #022E72;
  height:100%;
  }
  
  .bg-solid .h1-solid {
    color:#fff
  }
  
  .lead-solid {
    font-size: 2rem;
    color:#fff
  }

  .footer a {
    color: black;
  }
  

/* Media */

@media (min-width: 768px){

  #blackheader .upper-header-left{
    padding-left: 9rem;
   }

  .main-nav{
    justify-content: space-between;
    width:100%;
  }
  .right-blackheader{
    display:block;
  }

  .sm-menu {
    display:none;
  }

  .navbar-nav {
    padding-left: 2px;
    padding-right: 8px;
    justify-content:space-evenly;
  }

  .language-container {
    padding-right: 0;
    justify-content: space-evenly;
  }

  .language-container .dropdown .dropdown-toggle, .language-container .dropdown .language-dropdown {
 width:150px;
  }

p {
  line-height: 25px;
}

.bg-gradient .h1-blue {
  font-size: 50px;
}

/* .bg-gradient {
  height: 23rem;
} */

.bg-solid .h1-solid {
  font-size: 50px;
}

/* .bg-solid {
  height: 23rem;
} */

}

@media (min-width: 576px) {
.nav-bar{
  display: block;
}

}

