*{
padding: 0;
margin:0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

body {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 600; 
 }     

 nav {
    background: #0046B3;
    height: 80px;
    width: 100%;
 } 
 




