*{
padding: 0;
margin:0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}    

 nav {
    background: #0046B3;
    height: 40px;
    width: 100%;
 } 
 
 nav ul {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding-top: 8px;
 }


