/* Table of Contents
1. page level styles - wrapper stuff
2. typography
3. utility styles
4. header and top navigation
5. program navigation
6. homepage content 
7. program pages
8. media queries for larger viewports */

/* reset is linked in html */

/* 1. PAGE LEVEL STYLES */


.search-bar{
    height: 50px;
    display:flex;
    justify-content:space-between;
    padding-left: 1em;
    padding-right: 1em;
}


.float-right{
    float: right;
}

.top-menu{
    display:none;
    padding:0.5em;
    border:solid 1px black;
    background-color: white;
    clear: right;
    position:absolute;
    right:0;
    top:28px;
}

.material-symbols-outlined {
    font-size: 32px;
padding-top: 0.5em;
}

.h2class {
    background-repeat: no-repeat;
    height: 400px;
    background-image: url("queenscollege.jpeg");
    background-size: cover;
color: white;
display: flex;
align-content: center;
align-items: flex-end;
}

.h2class span {
    color: white;
    float: center;
}
