/* Table of Contents
1. page level styles - wrapper stuff
2. typography
3. utility styles
4. header and top navigation
5. program navigation
6. homepage content 
7. program pages
8. media queries for larger viewports */

/* reset is linked in html */

/* 1. PAGE LEVEL STYLES */


#container{
    width:90%;
    position:absolute;
    left:50%;
    transform: translate(-50%);
    font-family:'Roboto', normal, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}
.topnav{
padding:14px;
}
 .hero-banner{
    display:flex;
    background-color: #761c08;
    background-image: url("herobanner.jpeg");
    height: 500px;
    width:auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-banner h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    position:absolute;
    color:#fff;
    text-align: center;
    left: 10%;
    right: 10%;
    top:53%;
}

#h1-landingpage h1{
    padding-left:10px;
    font-size: 23px;
    padding-top:15px;
    padding-bottom: 15px;
}

ul {
    list-style:none;
    background: #B03014;
}

ul li {
    display:inline-block;
    position:relative;
}

ul li a {
    display:block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

ul li ul.dropdown li {
    display:block;
}

ul li ul.dropdown {
    width: 100%;
    background: #B03014;
    position: absolute;
    z-index: 999;
    display:none;
}

ul li a:hover {
    background: #761c08;
}

ul li:hover ul.dropdown{
    display:block;
}

@media (min-width: 720px) { 

#container {
    width: 75%;
}

.hero-banner h1 {
    font-size:25px;
    width:60%;
    left:20%;
    top:48%
}

.menu-nav {
    display: flex;
    align-content: center;
    align-items:center;
    justify-content: space-between;
    }

}