/* Table of Contents
1. page level styles - wrapper stuff
2. typography
3. utility styles
4. header and top navigation
5. program navigation
6. homepage content 
7. program pages
8. media queries for larger viewports */

/* reset is linked in html */

/* 1. PAGE LEVEL STYLES */



.search-bar{
    height: 50px;
    display:flex;
    justify-content:space-between;
    padding-left: 1em;
    padding-right: 1em;
}


.float-right{
    float: right;
}

.top-menu{
    display:none;
    padding:0.5em;
    border:solid 1px black;
    background-color: white;
    clear: right;
    position:absolute;
    right:0;
    top:28px;
}

.material-symbols-outlined {
    font-size: 32px;
padding-top: 0.5em;
}

.h2class {
    background-repeat: no-repeat;
    height: 400px;
    background-image: url("queenscollege.jpeg");
    background-size: cover;
color: white;
display: flex;
align-content: center;
align-items: flex-end;
position:relative;
}

.h2class span {
    color: white;
    position: absolute;
    left: 2%;
    top: 70%;
    
    text-align: center;
}

h3 {
    padding-left: 3%;
}

.h2class span {
    top: 85%;
    font-size: small;
}

.program-nav ul {
    padding: 0;
    margin: 0;
    list-style:none;
    color: whitesmoke;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:95%;
    position:absolute;
}

.program-nav li {
    position:relative;
    margin-top:2px;
    margin-bottom:2px;
    background: #B03014;
    width:100%;
}

.program-nav li a {
display: block;
padding: 20px 25px;
color: whitesmoke;
text-decoration: none;
text-align: center;
}

.program-nav li ul.dropdown li {
    display: block;
    text-align: center;
    width:100%;
    border-top: solid 2px white;
}

.program-nav li ul.dropdown {
    width: 100%;
    background: whitesmoke;
    position: absolute;
    z-index: 999;
    display: none;
    color:black;
}

.program-nav li:hover ul.dropdown {
    background: none;
    display: block;
}

.program-nav li.dropdown-parent:hover ul.dropdown li.dropdown-kid a:hover {
    background: #761c08;
}



@media (min-width: 568px) { 
    .h2class span {
        top: 80%;
        font-size: larger;
    }

    .program-nav nav {
        padding-left: 2%;
    }
    .program-nav ul {
        padding: 0;
        margin: 0;
        list-style:none;
        color: whitesmoke;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:95%;
        position:absolute;
    }
    
    .program-nav li {
        position:relative;
        margin-left:3px;
        margin-right:3px;
        background: #B03014;
        width:30%;
    }
    
    .program-nav li a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    }
    
   .program-nav li ul.dropdown li {
        display: block;
        text-align: center;
        width:100%;
        margin-left: 0;
    }
    
   .program-nav li ul.dropdown {
        width: 100%;
        background: whitesmoke;
        position: absolute;
        z-index: 999;
        display: none;
        color:black;
    }

    .program-nav li:hover ul.dropdown {
        background: none;
        display: block;
    }
    

    .program-nav li.dropdown-parent:hover ul.dropdown li.dropdown-kid a:hover {
        background: #761c08;
    }

}

