body{
    background-color: whitesmoke;
}


#wrapper { 
max-width: 1200px;
height: 1400px;
margin-left: auto;
margin-right: auto;
background-color: white;
}

header {
 background: linear-gradient(90deg,white 13.5%,white 16.87%, rgba(0,0,0,0.00) 44.03%, rgba(0, 0, 0, 0.00) 100%),
 url(images/banner2.png) no-repeat top right/cover,
 white;
 padding:5em;
}

.banner-text{
    font-size:1.2rem;
    width:500px;
    color:black;
}
.button:hover {
    background-color:darkred;
}

.button{
    display:block;
    background-color: #D11209;
    color:white;
    padding:8px;
    border-radius: 8px;
    width:5em;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase; 
}



*{
    text-decoration: none;
}

p {
    margin-bottom: 1em;
}

nav{
    background-color: rgb(231, 227, 227);
    padding-block: 2px;
}

nav a{
    color:black 
}

nav  a:hover{
    text-decoration: underline;
}

nav li{
    display:inline-block;
    margin-right: 1em;
    padding-left:3em;
}

/* ******************* Main ***************** */

main{
    padding:5em;
}

.col-left{
    float:left;
    width:43%
}

.col-right{
    float:right;
    width:43%
  
}

footer{
    clear:both;
    padding-top:32rem;
    padding-left: 5em;
    
}

/* EPISODES */

.flex-layout {
display:flex;
flex-wrap:wrap;
flex-direction: row;
}
.card{
    flex:1 0 auto;
    width:200px;
    margin: 1em;
}
.img-card{
    width: 100%;
     
}

section h3{
    margin-left:1em;
    
}

section h2{
    margin-left:0.8em;
}

.banner-text, .button, ul, .col-left, .col-right, footer, .card, h2, h3  {

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}



