body{
    background-color: whitesmoke;
}


#wrapper { 
width: 1200px;
height: 1000px;
margin-left: auto;
margin-right: auto;
background-color: white;
}

header {
 background: linear-gradient(90deg,white 13.5%,white 16.87%, rgba(0,0,0,0.00) 44.03%, rgba(0, 0, 0, 0.00) 100%),
 url(images/banner2.png) no-repeat top right/cover,
 white;
 padding:5em;
}

.banner-text{
    font-size:1.2rem;
    width:500px;
    color:black;
}

.button{
    display:block;
    background-color: darkred;
    color:white;
    padding:8px;
    border-radius: 8px;
    width:5em;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
}
*{
    text-decoration: none;
}

p {
    margin-bottom: 1em;
}

nav{
    background-color: rgb(231, 227, 227);
    padding-block: 2px;
}

nav a{
    color:black 
}

nav  a:hover{
    text-decoration: underline;
}

nav li{
    display:inline-block;
    margin-right: 1em;
    padding-left:3em;
}

/* ******************* Main ***************** */

main{
    padding:5em;
}

.col-left{
    float:left;
    width:43%
}

.col-right{
    float:right;
    width:43%
}

footer{
    clear:both;
    padding-top:12em;
    padding-left: 5em;
}

/* EPISODES */

.flex.layout {
display:flex;
flex-wrap:wrap;

}

.card {
    width: 22%;
    margin:1em;
    
}